#catImg {
    height: 45vh;
    width: auto;
}

.footer-container {
    text-align: center;
    height: 8vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
