:root {
  --main-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --quote-font: "Courgette", "cursive";
  --background-nav: rgb(235, 64, 52);
  --background-main: #fcedda;
  --background-btn: linear-gradient(#464d55, #25292e);
  --background-card: rgb(255,240,245);
  --color-white: #fff;
  --color-grey:#333;
  --color-blue:#332b87;
  --color-purple:#6e176c;
  --color-black:#110a17;
  --color-red: #541500;
  --color-hover:rgb(23, 23, 23);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
}

.nav_size {
  height: 5em;
}

.nav__nav-theme_light {
  background-color: var(--background-nav);
}

.nav_shadow {
  box-shadow: 0px 0.5rem 1.2rem -0.2rem rgba(0, 0, 0, 0.35);
}

.nav__title-container_position {
  margin: 0 auto;
  padding-right: 64px;
}

.nav__title-text {
  font-family: var(--main-font);
  cursor: default;
}

.nav__title-text_size {
  font-size: 2rem;
}

.nav__title-text_light-theme {
  color: rgba(243, 243, 243, 0.9);
  /* text-shadow: 0.15em 0.15em rgba(120, 120, 120, 0.3); */
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_size {
  height: 85vh;
  min-height: 485px;
  height: 100%;
}

.main__main-theme_light {
  background-color: var(--background-main);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 6px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  align-items: center;
}

.card_size {
  max-width: 95vw;
}

.card__card-theme_light {
  background-color: var(--background-card);
  /* border: 1px solid var(--color-grey); */
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.0),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;

}

.img-container {
  align-self: center;
 
}

.img-container__img {
  object-fit: cover;

}

.img-container__img_size {
  max-height: 40vh;
  max-width: 92vw;
}

.img-container__img-theme_light {
  border: 2px solid var(--background-main);
 
}

.text-container_size {
  max-width: 22rem;

}

.text-container__text-element {
  font-family: var(--quote-font);
  cursor: default;
}

.text-container__text-element_size-med {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-container__text-element_size-lg {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.btn {
  width: 100%;
  max-width: 200px;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;

}


.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}


.btn:hover {
	background-color: #1f1f1f;
 
  transition: opacity 0.5s;
  animation: 0.8s linear infinite rotate;
}

.btn__theme_light {
  background-image: var(--background-btn);
  color: var(--color-white);
}

.button-container button:hover {
  cursor: pointer;
}

/* Cat loader */
.loader {
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.loader_position-default {
  position: absolute;
  top: 0;
  left: 0;
}

.loader_theme-light {
  background-color: rgba(255, 255, 255, 0.5);
}

.loader_activated {
  opacity: 1;
}

.img-container__img_loader {
  animation: pulse 800ms ease-in-out infinite alternate;
}

.img-container__img_default-size {
  width: 230px;
  height: 171px;
}

.loader__loader-text_theme-light {
  color: var(--color-red);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loader__loader-text_default-size {
  font-size: 36px;
  margin-top: 16px;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: rgb(237, 237, 237);
}

.footer_shadow {
  box-shadow: 0px -0.55rem 2.1rem -0.25rem rgba(0, 0, 0, 0.35);
}

.icon_theme-light {
  color: var(--background-card);
}

.icon_theme-light:hover {

  color: var(--color-hover);
}

.icon_size-small {
  font-size: 2rem;
  margin: 0.25rem;
}

.link-text {
  text-decoration: none;
  font-family: var(--main-font);
}

.link-text_theme-light {
  color: var(--background-card);
}

.link-text_size-med {
  font-size: 1.2rem;
}

.link-text_theme-light:hover {
  color: var(--color-hover)
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@keyframes hover-animation {
  0%   {color: var(--color-grey);}
  25%  {color: var(--color-blue);}
  50%  {color: var(--color-purple);}
  50%  {color: var(--color-black);}
  100% {color: var(--color-grey);;}
}








